/*Custum Color */
@import  'utilities.css';

:root{
    --primary:#3DCFD3;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#eeeaea;
    --secondary:#070606;

    
}
body{
    font-family: 'Poppins', sans-serif;
    /* height: 8000px; */
}
/* "*" for all */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;

}
/* class for navigator */
.container{
    max-width: 1152px;
    padding:0 15px; 
    margin: 0 auto;

}
/* header to dark */
header{
    background: black;
    clip-path:circle(180vh at 50% -81vh);
}
/*left side editing in  navigator*/
header nav .left a{
    color :var(--pure);
    text-decoration: none; 
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}
header nav .left a:hover{
    color:var(--primary);
}
header nav{
    padding: 2rem 0 ;
}
header nav .branding {
    margin-right:3rem;
    
}
.hero{
    padding: 3rem 0;
}
.hero img{
    width: 600px;
    margin-right: 1rem;
}
.hero .right{
    color: white;
}
.hero .right h6{
        font-size: 1.6rem;
        color: var(--primary);
        margin-bottom: 0.5rem;

}
.hero .right h1{
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 2rem;

}
.hero .right h1 span{
    color:var(--primary);

}

.hero .right p{
    line-height: 1.9;
    margin-bottom: 2;

}

.hero .right{
    margin-top: -7rem;
}
section{
    padding: 6rem 0;
}
 
.about .meimage{
    
    margin-right: -1rem;
    height: 600px;
     
  }
.about h1{
    margin: 1rem;
    font-size: 2rem;
    
}
.about h1 span{
    color: var(--primary);
}
.about h2{
    font-size: 1.6rem;
    font-weight: 450;
}
.about   h2 span{
    color: var(--primary);
    position: relative;
}
.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
 
section.about p{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    font-size: 12px;
    margin-bottom: 2rem;
}
section.about .social{
display: flex;
background: var(--dark);
display: flex;
align-items: center;
justify-content: center;
width: 35px;
height: 35px;
border-radius: 50%;
margin-right: 0.6rem;
transition: all .3sec ease;
 
}
section.about .social img {
    width: 45px;
height: 45px;
padding :0.5rem;
margin-right: 0.5rem;
background: var(--pure);
}
section.about .social img:hover{
    background-color: var(--primary);
    border-radius: 50%;
}
.section-heading{
    color:var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
    margin-bottom: 5rem;

}
.section-heading span{
    color: var(--primary);
}
section.skills {
    background:var(--light);
}
section.skills .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-column-gap :2rem ;
    grid-row-gap :5rem;

}
section.skills .card{
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 6rem ;
    text-align: center;
    transition: all .4s ease;

}
section.skills .card img{
    position: absolute;
    top:-3.5rem;
    left:50%;
    transform: translateX(-46%);
    height: 100px;
    width: 100px;


}
section.skills .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.skills .card p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    line-height: 1.6rem;
}
section.skills .card:hover{
    background: var(--dark);
}
section.skills .card:hover h2,section.skills .card:hover p{
    color:var(--pure);
}
section.freelance{
    text-align: center;
    /* image with same darkness  */
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../images/camera.png);
    color: var(--pure)  ;
  clip-path: inset(20px 20px 50px round 15px 0);
  padding-bottom:5rem;
}
section.freelance h1{
 font-size: 2rem;
 margin-bottom: 0.5rem;

}
section.reviews  .slider .slide img{
    height: 150px;
    width: 150px;
    padding-bottom: 0.5rem;
    clip-path:circle();
    object-fit: cover;
    margin-bottom: 2rem;

}

section.reviews  .slider .slide {
    text-align: center;
    display: flex;
    align-items: center ;
    flex-direction: column;
    padding: 0 6rem;
}

section.reviews  .slider .slide p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}

section.reviews  .slider .slide span{
    font-size: 0.8rem;

}

section.reviews  .slider-dots .dots{
    list-style-type: none;
    display: flex!important;/*froce fullly change in some script*/
    justify-content: center;
}

section.reviews  .slider-dots{
    margin-top: 3rem;
}
section.reviews  .slider-dots button{
    font-size:0;
    width: 6px;
    height: 5px;
     border-radius: 50px;
    margin-right:0.3rem;
    border: none;
    outline: none;
    background: var(--ternary);
    cursor: pointer;


}
section.reviews  .slider-dots .dots li.slick-active button{
    background: var(--primary);
    width: 18px;    
}
section.work{
    background: var(--light);
    
}

section.work .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    margin-left: 3rem;
}

section.work .card-wrapper .card{
    position: relative;
    height: 250px;


}
section.work .card-wrapper img{
    height: 100%;
width: 84%; 
 

}
section.work .card .overlay{
position: absolute;
right: 0;
left:0;
background: rgba(61, 207, 211, 0.9);
height: 100%;
width: 84%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
color:var(--light);
opacity: 0;
transition: all .3s ease;

}
section.work .card  .overlay a{
color: var(--secondary);
text-decoration: none;

}
section.work .card img{
    height: 100%;
    font-weight: 100%;
    object-fit: cover; 
}
section.work .card:hover .overlay{
    opacity: 1;

}
section.contact .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
    margin-bottom: 3rem;

}
section.contact .card{
    align-items: center ;
    text-align: center;
    align-items: center;
}
section.contact .card h6{
    font-size: 1rem;
    font-weight: 400;
    color: var(--ternary);
}
section.contact .card img{
    height: 100px;
    width: 100px;
}
section.contact .input-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;

}
section.contact .input-2{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 2rem ; */
}
section.contact .input-2 input{
    margin-bottom:1rem;
    
}
section.contact  input {
 padding: 0.5rem;
 border: 1px solid var(--light);
 font-size: 0.95rem;

}
section.contact  .input-2 textarea{
    padding: 0.5rem ;
}
section.contact input:focus{

}
section.contact .btnh{
    text-align: center;
    margin-bottom: 1rem;
}
footer.footer{
    background: var(--dark);
    text-align: center;
    padding :3rem 0;
    

}
footer.footer .social img{
    width: 100%;
    height: 100%;
    padding :0.5rem;

  

   
}
footer.footer .social{
    display: flex;
background: var(--pure);
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 0.6rem;
transition: all .3sec ease;
margin-bottom: 1rem ;
}
footer.footer .social img:hover{
    background: var(--primary);
    border-radius: 50%;
}
footer.footer .text{
    color: var(--ternary);
    font-weight: 400;
}
